*{
  margin: 0;
  padding:0;
}

body{
  background-color: #86248a;
}

.form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1
{
  color: white;
  padding:1rem;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 3rem;
}
.name
{
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border: 1px white solid;
}
#btn
{
  width: 20%;
  padding: 0.6rem;
  margin: 1rem;
  background-color: #86248a;
  color: white;
  border: 2px solid white;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: sans-serif;
  box-sizing: border-box;
}
